aside {
  width: 320px;
}

.recommendation {
  width: 320px;
  margin-top: 40px;
  position: fixed;
  font-family: var(--font-liner);
}

.welcome-pkg {
  padding: 16px 20px;
  position: relative;
  overflow: hidden;

  border: 1px solid #e7e7e7;
  border-radius: var(--size-border-radius);
}

.welcome-pkg-title {
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: var(--weight-bold);
  color: var(--color-dGray);
}

.welcome-pkg-description {
  width: 168px;

  font-weight: var(--weight-medium);
  line-height: 20px;
  color: var(--color-gray);
}
.welcome-pkg-description > b {
  font-weight: var(--weight-bold);
}

.welcome-pkg-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  right: 20px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background-color: rgba(51, 202, 198, 0.2);
  border-radius: 50%;
}

.welcome-pkg-btn {
  margin-top: 8px;
}
.welcome-pkg-btn > button {
  float: right;

  font-weight: var(--weight-medium);
  color: var(--color-liner);
}
